@tailwind base;
@tailwind components;
@tailwind utilities;

.new-note-form input,
.new-note-form textarea,
.new-note-form select {
    display: block;
    margin: 1rem 0;
    border-radius: 8px;
    padding: 8px;
    color: black;
    width: 100%;
    background-color: rgba(245, 255, 252, 0.479);
}

.raport-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

@media (min-width: 640px) {
    .raport-form {
        flex-direction: row;
        gap: 1rem;
    }
}

.raport-form select {
    display: block;
    margin: 0.5rem 0;
    border-radius: 8px;
    padding: 8px;
    color: black;
    flex: 1;
    background-color: rgba(235, 247, 243, 0.479);
}

@media (max-width: 600px) {
    .new-note-form input,
    .new-note-form textarea,
    .new-note-form select {
        font-size: 16px;
    }
}

@layer components {
    .table-header-active {
        @apply w-[20%] text-gray-400 uppercase font-semibold text-xs md:text-sm cursor-pointer hover:text-green-600;
    }

    .btn-standard {
        @apply py-2 px-4 bg-slate-500 rounded-md text-white text-xs md:text-sm hover:bg-slate-800 duration-300;
    }

    .main-menu-item {
        @apply text-xs sm:text-sm xl:text-base py-1.5 px-2 rounded-md cursor-pointer bg-teal-400 md:bg-transparent hover:bg-teal-400 hover:text-white uppercase text-center md:text-left;
    }

    h1 {
        @apply text-2xl md:text-4xl xl:text-6xl py-4 md:py-8 font-semibold text-slate-800;
    }
}

.scrollable-container {
    width: 100%;
    min-width: 600px;
    white-space: nowrap;
    /* Prevent content from wrapping */
    overflow-x: auto;
}